/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

$preloaderBg: #282828;
$elColor: #fff;
.preloader-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: $preloaderBg;
  z-index: 999999;
}

.preloader {
  width: 10vh;
  height: 10vh;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border-radius: 50%;
  border: 2px solid rgba(9, 9, 9, 0.5);
  -webkit-animation: 4s preloader-rotate ease infinite;
  animation: 4s preloader-rotate ease infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.preloader-wrapper {
  background: #e90202;
  width: 15vh;
  height: 15vh;
  position: relative;
  border-radius: 50%;
  border: 2px solid black;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: 1s preloader-cont-pulse ease infinite;
  animation: 1s preloader-cont-pulse ease infinite;
}

.el {
  display: block;
  background: #000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  width: 30%;
  padding-top: 30%;
  border-radius: 50% 50% 50% 0;
  position: absolute;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);

  &:first-of-type {
    top: 10%;
    left: -10%;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  &:nth-of-type(2) {
    top: 10%;
    right: -12%;
    -webkit-transform: rotate(-225deg);
    -ms-transform: rotate(-225deg);
    transform: rotate(-225deg);
  }

  &:nth-of-type(3) {
    bottom: -15%;
    right: auto;
    left: auto;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}

.dot {
  background: #000;
  border-radius: 50%;
  width: 35%;
  padding-top: 35%;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

@-webkit-keyframes preloader-cont-pulse {
  0%,100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 0 15px 0 #fc4141;
    box-shadow: 0 0 15px 0 #fc4141;
  }
}

@keyframes preloader-cont-pulse {
  0%,100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 0 15px 0 #fc4141;
    box-shadow: 0 0 15px 0 #fc4141;
  }
}

@-webkit-keyframes preloader-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-box-shadow: none;
    box-shadow: none;

  }
  12.5% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-shadow: 0 0 4px 0 black;
    box-shadow: 0 0 4px 0 black;
  }
  25% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-box-shadow: none;
    box-shadow: none;


  }
  37.5% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-box-shadow: 0 0 4px 0 black;
    box-shadow: 0 0 4px 0 black;
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-box-shadow: none;
    box-shadow: none;


  }
  62.5% {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    -webkit-box-shadow: 0 0 4px 0 black;
    box-shadow: 0 0 4px 0 black;
  }
  75% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-box-shadow: none;
    box-shadow: none;


  }
  87.5% {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
    -webkit-box-shadow: 0 0 4px 0 black;
    box-shadow: 0 0 4px 0 black;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-box-shadow: none;
    box-shadow: none;


  }
}

@keyframes preloader-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-box-shadow: none;
    box-shadow: none;

  }
  12.5% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-shadow: 0 0 4px 0 black;
    box-shadow: 0 0 4px 0 black;
  }
  25% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-box-shadow: none;
    box-shadow: none;


  }
  37.5% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-box-shadow: 0 0 4px 0 black;
    box-shadow: 0 0 4px 0 black;
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-box-shadow: none;
    box-shadow: none;


  }
  62.5% {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    -webkit-box-shadow: 0 0 4px 0 black;
    box-shadow: 0 0 4px 0 black;
  }
  75% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-box-shadow: none;
    box-shadow: none;


  }
  87.5% {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
    -webkit-box-shadow: 0 0 4px 0 black;
    box-shadow: 0 0 4px 0 black;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-box-shadow: none;
    box-shadow: none;


  }
}